@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 239, 247, 246;
  --background-end-rgb: 221, 242, 235;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));

  margin: 0;
  min-height: 100vh;
}

.review {
  --slide-spacing: 1.8rem;
  --slide-size: 100%;
  --slide-height: 765px;
  align-self: center;
  width: 100%;
  position: relative;
}
.review__viewport {
  overflow: hidden;
  position: relative;
}
.review__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.review__slide {
  overflow: hidden;
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.review__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: scale-down;
}
.review__slide__img_background {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  position: fixed;
  top: 0%;
  opacity: 0.325;
  filter: blur(4px);
  z-index: -1;
}
.review__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.review__slide__number > span {
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.navigate__button {
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  padding: 0;
}
.navigate__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.navigate__button__svg {
  width: 100%;
  height: 100%;
}

.navigate__button--prev {
  left: 24px;
}

.navigate__button--next {
  right: 24px;
}

.review-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 136px;
  margin-top: var(--thumbs-slide-spacing);
}
.review-thumbs__viewport {
  overflow: hidden;
}
.review-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.review-thumbs__slide {
  flex: 0 0 18%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
  position: relative;
}
.review-thumbs__slide__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  opacity: 0.2;
  transition: opacity 0.2s;
  border-radius: 5%;
  overflow: hidden;
}
.review-thumbs__slide--selected .review-thumbs__slide__button {
  opacity: 1;
}
.review-thumbs__slide__img {
  display: block;
  height: var(--thumbs-slide-height);
  width: 100%;
  object-fit: cover;
}
.review-thumbs__slide__number {
  width: 3rem;
  height: 3rem;
  z-index: 1;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 3rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.review-thumbs__slide__number > span {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 900px) {
  .review-thumbs__slide {
    flex: 0 0 24%;
  }
  .review-thumbs {
    --thumbs-slide-height: 106px;
  }
  .review {
    --slide-height: 532px;
  }
}
@media (max-width: 600px) {
  .review-thumbs__slide {
    flex: 0 0 36%;
  }
  .review-thumbs {
    --thumbs-slide-height: 86px;
  }
  .review {
    --slide-height: 386px;
  }
  .review__button--prev {
    left: 12px;
  }
  .review__button--next {
    right: 12px;
  }
  .review__slide__number {
    width: 3.4rem;
    height: 3.4rem;
    line-height: 3.4rem;
  }
  .review__slide__number > span {
    font-size: 1.2rem;
  }
}

.game {
  width: 100%;
  margin: auto;
  --slide-height: 375px;
  --slide-spacing: 12px;
  --slide-size: 220px;
  position: relative;
}
.game__viewport {
  overflow: hidden;
  position: relative;
}
.game__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.game__slide {
  flex: 0 0 calc(var(--slide-size) + var(--slide-spacing));
  min-width: 0;
  padding-left: var(--slide-spacing);
}
@media (max-width: 900px) {
  .game {
    --slide-height: 345px;
    --slide-spacing: 8px;
    --slide-size: 200px;
  }
}
@media (max-width: 600px) {
  .game {
    --slide-height: 285px;
    --slide-spacing: 8px;
    --slide-size: 165px;
  }
  .game__buttons{
    display: none;
  }
}